body
{
	background-color: papayawhip;
	text-align: center;
	margin-top: 130px;
	margin-left: 100px;
}

div
{
	height: 300px;
	width: 150px;
	border: 2px solid black;
	float: left;
	margin-right: 20px;
}

.c1
{
	background-color: mediumspringgreen;
}

.c2
{
	background-color: steelblue;
	height: 160px;
}

.c3
{
	background-color: darkorchid;
}

.c4
{
	clear: both;
}